* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
img {
  display: block;
  max-width: 100%;
}
body {
  margin: 0;
  font-family: sans-serif;
  background-image: url("/assets/images/bg-main-mobile.png");
  background-repeat: no-repeat;
  background-size: 100% 264px;
}
@media screen and (width>768px) {
  body {
    background-image: url("/assets/images/bg-main-desktop.png");
    background-size: 483px 100%;
  }
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 32px 24px 45px 24px;
  gap: 48px;
}
@media screen and (width>768px) {
  .container {
    flex-direction: row;
  }
}

.card-container {
  width: 343px;
  height: 251px;
  margin: 0 auto;
  position: relative;
}
@media screen and (width>768px) {
  .card-container {
    margin: 0;
    width: 541px;
    min-width: 447px;
    height: 527px;
  }
}

.bg-image {
  position: absolute;
}

.cardBack-style {
  position: absolute;
  top: 0;
  left: 57px;
  width: 286px;
  height: 157px;
  background-image: url("/assets/images/bg-card-back.png");
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (width>768px) {
  .cardBack-style {
    top: auto;
    left: auto;
    bottom: 0;
    right: 0;
    width: 447px;
    height: 245px;
  }
}
.cardBack-style > span {
  color: white;
  position: absolute;
  right: 37px;
  top: 68px;
}
@media screen and (width>768px) {
  .cardBack-style > span {
    right: 47px;
    top: 110px;
  }
}

.cardFront-style {
  position: absolute;
  top: 94px;
  left: 0;
  width: 286px;
  height: 157px;
  background-image: url("/assets/images/bg-card-front.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 19px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
}
@media screen and (width>768px) {
  .cardFront-style {
    top: 0;
    left: 0;
    width: 447px;
    height: 245px;
  }
}
.cardFront-style > img {
  width: 54px;
  height: 30px;
}

.info-card {
  display: flex;
  flex-direction: column;
  gap: 17px;
}
@media screen and (width>768px) {
  .info-card {
    gap: 25px;
  }
}

.name-card {
  display: flex;
  justify-content: space-between;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media screen and (width>768px) {
  .form {
    width: 381px;
  }
}

.date-cvc-container {
  display: flex;
}

.label-form {
  display: flex;
  flex-direction: column;
  gap: 9px;
  width: 100%;
}

.size-date-cvc {
  width: 50%;
}

.label-text {
  text-transform: uppercase;
}

.label-input {
  padding: 13px;
  border-radius: 7px;
  border: 1px solid gray;
}

.size-date {
  width: 40%;
}

.size-cvc {
  max-width: 100%;
}

.errorInput {
  border: 1px solid red;
}

.form-submit {
  width: 100%;
  padding: 13px;
  border-radius: 7px;
  border: 1px solid gray;
  background-color: #21092f;
  color: white;
  font-size: 18px;
}
.form-submit:hover {
  cursor: pointer;
}
